<div class="footercontainer"> 
	<a class="footeritem" href="https://medium.com/repetitio">blog </a>
	<a class="footeritem" href="/contact">contact </a>
	<a class="footeritem" href="/terms">terms </a>
	<a class="footeritem" href="/privacy">privacy </a>
</div>

</body>
</html>