<!DOCTYPE html>
<html>
<head>

	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS -->
	<link rel="stylesheet" href="../../public/stylesheet.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../public/style/mdl/material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

	<!-- JAVASCRIPT -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"  defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="../../public/script.js"></script>
    

	<!-- FAVICON -->
    <link rel="icon" type="image/png" href="../../public/images/favicon.ico.png" />


	<title>Repetitio</title>
</head>
<body>
        <div class="headerlanding">
   
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 hidden-xs">
                        <a href="/landing" class="navbar-left">
                            <img class="repetitiologo" src="../../public/images/logo.png">
                        </a>
                    </div>
                    
                    <div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs-4">
                        <a href="/landing" class="navbar-left">
                            <img class="rlogo" src="../../public/images/r.png">
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">  
                            <ul class="nav navbar-nav pull-right">
                                    <li class="loginbutton"><a class="Rpurple" href="/login">Log in</a></li>
                            </ul>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">  
                            <ul class="nav navbar-nav">
                                    <li class="joinbutton"><a class="Rpurple" href="/join">Join</a></li>
                            </ul>
                    </div>                             
                </div>
            </div>
        </div>
    

	 
