<% include ./partials/publicheader %>

<div class="container">
	<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> Grow your Repetitio library by exploring the world in Dutch. Here are some resources to get you going! </strong></p>

			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle">UNDERSTAND </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="https://www.woorden.org/"> Woorden </a> 
							<p class="linkdescription"> A Dutch dictionary with a few extras, such as sayings and quotes.</p> 
						</li> 
						<li type="circle"> <a href="https://www.vandale.nl/opzoeken/"> Van Dale </a> 
							<p class="linkdescription"> Dictionary as well as translations between Dutch and major European languages.</p> 
						</li>
						<li type="circle"> <a href="http://context.reverso.net/translation/english-dutch/"> Reverso </a> 
							<p class="linkdescription"> Dutch sentences with translations.</p> 
												</li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> READ </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="https://www.telegraaf.nl/"> De Telegraaf </a> 
							<p class="linkdescription">A leading Dutch Newspaper.</p></li>
						<li type="circle"> <a href="https://www.volkskrant.nl/"> Volkskrant </a> 
							<p class="linkdescription"> Another leading Dutch-language Newspaper.</p></li></li>
						<li type="circle"> <a href="https://www.lindanieuws.nl/"> Linda Nieuws </a> 
							<p class="linkdescription">Magazine-style website.</p></li>
						<li type="circle"> <a href="https://www.kidsweek.nl/nieuws"> KidsWeek </a> 
							<p class="linkdescription">News aimed at children. </p>
						</li>
						
					</ul>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
						<h5 class="languagetitle"> WATCH </h5>
				<ul class="resourcelist">  
						<li type="circle"> <a href="https://www.netinnederland.nl/"> Net in Nederland </a> 
							<p class="linkdescription"> A variety of subtitled videos and TV programmes in Dutch.</p> 
						</li>
						<li type="circle"> <a href="http://www.2bdutch.nl/"> 2bDutch </a> 
							<p class="linkdescription"> Simple subtitled videos in Dutch.</p></li>
						<li type="circle"> <a href="https://www.een.be/"> Een.be</a> 
							<p class="linkdescription"> A popular Belgian TV channel </p>
						</li>
					</ul>
				</div>	

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> LISTEN </h5>
					<ul class="resourcelist">   
						<li type="circle"> <a href="http://radioplayer.npo.nl/radio1/"> NPO Radio 1 </a> 
							<p class="linkdescription"> A talk radio station streaming online.</p> 
						</li>
					</ul>
					<ul class="resourcelist">   
						<li type="circle"> <a href="http://echtgebeurd.net/"> Echt Gebeurd </a> 
							<p class="linkdescription"> Real stories told in the first person by real people.</p> 
						</li>
					</ul>



				</div>
			</div>
		
			 
			<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> Do you know a great resource that should be added to this list? <a href="/contact"> Get in touch! </a></strong></p>

	</div>
</div>
<div class="languagewhitespace"> </div>
 <div class="frontpageflagscontainer"> 
            <a class="landingflaglink" href="/english"> <img class="frontpageflag" src="../public/images/flags/English.png"> </a>
            <a class="landingflaglink" href="/french"> <img class="frontpageflag" src="../public/images/flags/French.png"> </a>           
            <a class="landingflaglink" href="/spanish"> <img class="frontpageflag" src="../public/images/flags/Spanish.png"> </a>         
            <a class="landingflaglink" href="/dutch"> <img class="frontpageflag" src="../public/images/flags/Dutch.png"> </a>      
            <a class="landingflaglink" href="/german"> <img class="frontpageflag" src="../public/images/flags/German.png"> </a>            
            <a class="landingflaglink" href="/polish"> <img class="frontpageflag" src="../public/images/flags/Polish.png"> </a>
            <a class="landingflaglink" href="/italian"> <img class="frontpageflag" src="../public/images/flags/Italian.png"> </a>
          </div>  

<% include ./partials/publicfooter %>

