<% include ./partials/publicheader %>

<div class="container">
	<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> Grow your Repetitio library by exploring the world in English. Here are some resources to get you going! </strong></p>

			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle">UNDERSTAND </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="https://en.oxforddictionaries.com/english"> Oxford Dictionary </a> 
							<p class="linkdescription"> A renowned English dictionary.</p> 
						</li> 
					</ul>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> READ </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="https://www.theguardian.com"> The Guardian </a> 
							<p class="linkdescription">A leading English Newspaper</p></li>
							<li type="circle"> <a href="https://www.bbc.co.uk/"> BBC </a> 
							<p class="linkdescription">British Broadcasting Company offering various high-quality media.</p></li>
							<li type="circle"> <a href="https://learnenglish.britishcouncil.org/en/stories"> British Council </a> 
							<p class="linkdescription">English language stories from the British council.</p></li>



	
						<li type="circle"> <a href="https://www.1843.com/"> 1843 </a> 
							<p class="linkdescription"> A high-quality lifestyle and culture magazine.</p></li>
						
					</ul>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
						<h5 class="languagetitle"> WATCH </h5>
				<ul class="resourcelist">  
						<li type="circle"> <a href="https://learnenglish.britishcouncil.org/en/video-zone"> British Council videos </a> 
							<p class="linkdescription"> A range of English language videos aimed at learners.</p> 
						</li>
				</ul>
				</div>	

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> LISTEN </h5>
					<ul class="resourcelist">   
						<li type="circle"> <a href="http://www.internetradiouk.com/bbc-5-live/"> BBC Radio 5 </a> 
							<p class="linkdescription"> News and Sport radio government radio station streaming online.</p> 
						</li>
					</ul>
					



				</div>
			</div>
		
			 
			<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> Do you know a great resource that should be added to this list? <a href="/contact"> Get in touch! </a></strong></p>

		</div>
</div>
<div class="languagewhitespace"> </div>
 <div class="frontpageflagscontainer"> 
            <a class="landingflaglink" href="/english"> <img class="frontpageflag" src="../public/images/flags/English.png"> </a>
            <a class="landingflaglink" href="/french"> <img class="frontpageflag" src="../public/images/flags/French.png"> </a>           
            <a class="landingflaglink" href="/spanish"> <img class="frontpageflag" src="../public/images/flags/Spanish.png"> </a>         
            <a class="landingflaglink" href="/dutch"> <img class="frontpageflag" src="../public/images/flags/Dutch.png"> </a>      
            <a class="landingflaglink" href="/german"> <img class="frontpageflag" src="../public/images/flags/German.png"> </a>            
            <a class="landingflaglink" href="/polish"> <img class="frontpageflag" src="../public/images/flags/Polish.png"> </a>
            <a class="landingflaglink" href="/italian"> <img class="frontpageflag" src="../public/images/flags/Italian.png"> </a>
          </div>  

<% include ./partials/publicfooter %>