<% include ./partials/publicheader %>

<div class="container">
	<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> Grow your Repetitio library by exploring the world in French. Here are some resources to get you going! </strong></p>

			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle">UNDERSTAND </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="http://www.wordreference.com/enfr/"> Word Reference </a> </li> 
							<p class="linkdescription"> A great French dictionary with translations to major European languages.</p> 
						</li> 
					</ul>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> READ </h5>
					<ul class="resourcelist"> 
						<li type="circle"> <a href="https://www.lemonde.fr"> Le Monde </a> 
							<p class="linkdescription"> A leading French language newspaper </p>
						</li>
						<li type="circle"> <a href="https://news.google.com/?hl=fr&gl=FR&ceid=FR:fr"> Google News </a> 
							<p class="linkdescription"> French news from around the world </p>
						</li>
						<li type="circle"> <a href="https://www.lexpress.fr/"> L'Express </a> 
							<p class="linkdescription"> French news site</p>
						</li>
						<li type="circle"> <a href="https://www.letemps.ch/opinions"> L'Express </a> 
							<p class="linkdescription"> Canadian news site</p>
						</li>
					</ul>

					
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
						<h5 class="languagetitle"> WATCH </h5>
				<ul class="resourcelist">  
						<li type="circle"> <a href="http://apprendre.tv5monde.com/fr/"> TV5 Monde </a> 
							<p class="linkdescription"> Videos aimed at learners of all levels.</p> 
						</li>
				</ul>
				<ul class="resourcelist">   
						<li type="circle"> <a href="https://www.youtube.com/user/bref"> Bref </a> 
							<p class="linkdescription"> A series of light-hearted video clips</p> 
						</li>
					</ul>
				</div>	

				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
					<h5 class="languagetitle"> LISTEN </h5>
					<ul class="resourcelist">   
						<li type="circle"> <a href="https://www.franceinter.fr/"> France Inter </a> 
							<p class="linkdescription"> High-quality French radio station </p> 
						</li>
					</ul>
				</div>
			</div>
		
			 
		<div class="textcontainer"> 
		<p style="font-style: italic; text-align: center;"> <strong> 
			Do you know a great resource that should be added to this list? <a href="/contact"> Get in touch! </a>
		</strong></p>

		</div>
</div>
<div class="languagewhitespace"> </div>

 <div class="frontpageflagscontainer"> 
            <a class="landingflaglink" href="/english"> <img class="frontpageflag" src="../public/images/flags/English.png"> </a>
            <a class="landingflaglink" href="/french"> <img class="frontpageflag" src="../public/images/flags/French.png"> </a>           
            <a class="landingflaglink" href="/spanish"> <img class="frontpageflag" src="../public/images/flags/Spanish.png"> </a>         
            <a class="landingflaglink" href="/dutch"> <img class="frontpageflag" src="../public/images/flags/Dutch.png"> </a>      
            <a class="landingflaglink" href="/german"> <img class="frontpageflag" src="../public/images/flags/German.png"> </a>            
            <a class="landingflaglink" href="/polish"> <img class="frontpageflag" src="../public/images/flags/Polish.png"> </a>
            <a class="landingflaglink" href="/italian"> <img class="frontpageflag" src="../public/images/flags/Italian.png"> </a>
          </div>  


<% include ./partials/publicfooter %>

