<% include ./partials/publicheader %>


<div class="content-public">

    <!--     LANDING FOR LG AND XL -->
        <div class="hidden-xs">
            <div class="jumbotron text-center landing-jumbotron" style="background-color: transparent;">
                <div class="jumbotron-inner">
                    <div class="row">
                       <div class="col-xl-8 col-xl-offset-1 col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-offset-1 col-sm-11">
                           <div class="text-left">
                               <div class="large-text firstlinelanding"> <h1 class="landingh1"> Learn Words. </h1><br> </div>
                               <div class="secondlinelanding">
                                <span class="large-text secondlinelanding"><h1 class="landingh1" > And </h1></span>
                                <img src="../../public/images/r.png" class="landingR">


                                <span class="large-text secondlinelanding"><h1 class="landingh1"> emember Them. </h1><br> </span>     
                                </div>                   
                               
                            </div>
                        </div>
                    </div>

                   
                </div>                   
            </div>
        </div>

    <!-- LANDING FOR XS -->

    <div class="hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="jumbotron text-center landing-jumbotron" style="background-color: transparent;">
                <div class="jumbotron-inner">
                    <div class="row xslandingrow">
                       <div class="col-xs-11 col-xs-offset-1">
                           <div class="text-left">
                               <div class="xslandingtext" style="margin-top: -50px;"><h1 class="xslandingh1"> Learn </h1></div>
                            </div>
                        </div>
                    </div>
                    <div class="row xslandingrow">
                       <div class="col-xs-11 col-xs-offset-1">
                           <div class="text-left">
                               <div class="xslandingtext"><h1 class="xslandingh1"> Words. </h1></div>
                            </div>
                        </div>
                    </div>
                    <br> <br>
                    <div class="row xslandingrow" >
                       <div class="col-xs-11 col-xs-offset-1">
                           <div class="text-left">
                               <div class="xslandingtext" style="margin-bottom: -50px"><h1 class="xslandingh1"> And </h1></div>
                            </div>
                        </div>
                    </div>
                    <div class="row xslandingrow">
                       <div class="col-xs-11 col-xs-offset-1" style="margin-top: 20px;">
                           <div class="text-left">
                               <div class="xslandingtext"><img src="../../public/images/r.png" class="landingRXS"><h1 class="xslandingh1" style="display: inline-block;"> emember <h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row xslandingrow">
                       <div class="col-xs-11 col-xs-offset-1" style="margin-top: -40px;">
                           <div class="text-left">
                               <div class="xslandingtext"><h1 class="xslandingh1"> Them. </h1></div>
                            </div>
                        </div>
                    </div>
                            
                                
                        </div>
                    </div>

                 
                </div>    



          <div class="frontpageflagscontainer"> 
            <a class="landingflaglink" href="/english"> <img class="frontpageflag" src="../public/images/flags/English.png"> </a>
            <a class="landingflaglink" href="/french"> <img class="frontpageflag" src="../public/images/flags/French.png"> </a>           
            <a class="landingflaglink" href="/spanish"> <img class="frontpageflag" src="../public/images/flags/Spanish.png"> </a>         
            <a class="landingflaglink" href="/dutch"> <img class="frontpageflag" src="../public/images/flags/Dutch.png"> </a>      
            <a class="landingflaglink" href="/german"> <img class="frontpageflag" src="../public/images/flags/German.png"> </a>            
            <a class="landingflaglink" href="/polish"> <img class="frontpageflag" src="../public/images/flags/Polish.png"> </a>
            <a class="landingflaglink" href="/italian"> <img class="frontpageflag" src="../public/images/flags/Italian.png"> </a>
          </div>               
</div>



<% include ./partials/publicfooter %>

