<% include ./partials/publicheader %>

<div class="userformcontainer"> 
	<div class="userform">
			<p class="userformtitle"> Login </p>
			<form method="POST" action="/login">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" name="username" autocomplete="off" required  type="email">
								<label class="mdl-textfield__label" for="word">Username</label>
					</div>
				<br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" name="password" autocomplete="off" required  type="password">
								<label class="mdl-textfield__label" for="word">Password</label>
					</div>
				<br>
					<a href="/reset" class="resetpasswordtext">forgotten your password? </a> <br>
				<br>
				<input class="userformsubmitbutton" type="submit"> 
			</form>
			<br> <br>
	</div>
</div>






<% include ./partials/publicfooter %>

