<% include ./partials/publicheader %>

<div class="container">
<div class="textcontainer"> 
			<h3> Privacy Policy </h3> 
			<p> Last Updated: <strong>04/10/2018 </strong></p>
			<br>
			<h5> Introduction </h5>
			<p> Repetitio is a free online learning service. These services are available at the website <a href="https://www.repetitio.co">https://www.repetitio.co </a> (“Website”). </p>
		<p> This Privacy Policy explains what personal data is collected, how it is used and your choices concerning these data practices. </p>
		<p> This Privacy Policy forms part of our Terms of Use, which are available at <a href="https:www.repetitio.co/terms"> https:www.repetitio.co/terms </a> </p>
		<p> By providing us with your personal data when using the Services, you consent to the processing of your personal data as described in this Privacy Policy. If you do not agree to this Privacy Policy, please do not access or use the Services. </p>
		<br> 
		<h5> Personal Data That We Collect </h5>
		<p> When you interact with our Website, we collect information that, alone or in combination with other information, could be used to identify you (“Personal Data”). </p>
		<p>Personal Data You Give Us. When you sign up for or use the Services, you voluntarily give us certain Personal Data, including name, email address and learning content. When you use the Services, you may generate data which we will collect and store for use in connection with the Services. </p>
		<p> We also collect information you choose to provide to us, for example, upon completing the contact form. We may also collect non-Personal Data, such as time zone or language. </p>
		<ul> 
			<li> <strong> Automatically Collected Data: </strong> When you use the Services, the following information is created and automatically logged in our systems: </li>
			<li> <strong> Log data: </strong>Information (“log data”) that your browser automatically sends whenever you visit the Website, or that the Apps automatically send when you use them. Log data includes your Internet Protocol (“IP”) address (so we understand which country you are connecting from when you visit the Website), browser type and settings, the date and time of your request, and how you interacted with the Services. </li>
			<li><strong> Cookies: </strong> Information from cookies and other technologies stored on your device. </li>
			<li><strong> Device information: </strong>Includes type of device you are using, operating system, settings, unique device identifiers, network information and other device-specific information. Information collected may depend on the type of device you use and its settings. </li>
			<li> <strong> Usage Information: </strong> We collect information about how you use our Services, such as the types of content that you view or engage with, the features you use, the actions you take, the other users you interact with and the time, frequency and duration of your activities.</li>
		</ul>
		<br> 
		<h5> How We Use Data</h5>
		<p> We use the data we colelct, described above, to: </p>
		<ul> 
			<li> authenticate users </li>
			<li> provide the Services </li>
			<li> response to your requests</li>
			<li> improve the Services </li>
		</ul>
		<p> Marketing </p>
		<p> We will send you updates and information about our new products and services, upcoming events or other promotions or news by email or push notification. Where required by law, we will only send you marketing information if you consent to us doing so at the time you provide us with your Personal Data. You may opt out of receiving such emails by following the instructions contained in each promotional email we send you or by updating your user settings. In addition, if at any time you do not wish to receive future marketing communications, please contact us at info@repetitio.co. We will continue to contact you via email regarding the provision of our Services and to respond to your requests. </p>
		<br> 
		<h5> Sharing and Disclosure  </h5>
		<p> We may share your Personal Data and other information with certain third parties if we deem it beneficial to the long-term improvement of the Services. 
		</p> 
		<br> 
		<h5> Data Retention </h5>
		<p> We will keep your Personal Data for as long as reasonably necessary for the purposes described in this Privacy Policy. 
		</p>
		<br> 
		<h5> Update Your Information </h5>
		<p> If you need to change or correct your Personal Data, or wish to have it deleted from our systems, you may contact us. We will address your request as required by applicable law. You are also able to update your Personal Data yourself from your user settings.
		</p> 
		<br> 
		<h5> Children </h5>
		<p> Repetitio does not knowingly collect Personal Data from children under the age of 13. If you have reason to believe that a child under the age of 13 has provided Personal Data to Repetitio through the Services please contact us and we will endeavour to delete that information from our databases.
		</p> 
		<br> 
		<h5> Links to Other Websites </h5>
		<p> The Website and the Apps may contain links to other websites not operated or controlled by us (“Third Party Sites”), including social media websites and services. The information that you share with Third Party Sites will be governed by the specific privacy policies and terms of service of such Third Party Sites and not by this Privacy Policy. By providing these links we do not imply that we endorse or have reviewed these sites. Please contact those sites directly for information on their privacy practices and policies.
		</p> 
		<br> 
		<h5> Security </h5>
		<p> We take reasonable administrative and technical steps to protect the Personal Data from loss, misuse and unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet is 100% secure. Therefore, while we strive to protect your data, we cannot guarantee its absolute security.
		</p> 
		<br> 
		<h5> Cookies </h5>
		<p> The Website uses cookies and other technologies to make it easier for you to use the Services during future visits, monitor traffic on our website or apps and to personalize instructional content.
		</p> 
		<br> 
		<h5> Changes To Our Privacy Policy </h5>
		<p> We may change this Privacy Policy at any time and when we do we will post an updated version on this page. By continuing to use the Website and the Apps or providing us with information after we have posted an updated Privacy Policy you consent to the revised Privacy Policy and practices described in it.

		</p> 
		<br> 
		<h5> Contact Us </h5>
		<p> If you have any questions about our Privacy Policy or our data practices, please <a href="/contact"> contact us </a>.
		</p> 

</div>
</div>




<% include ./partials/publicfooter %>