<% include ./partials/publicheader %>

<div class="userformcontainer"> 
	<div class="userform">
<p class="userformtitle"> Reset Password </p> 

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" name="TargetWord" autocomplete="off" required  type="email">
				<label class="mdl-textfield__label" for="word">Email</label>
	</div>
<br>
<input type="submit"> </input>

</div>
</div>

<% include ./partials/publicfooter %>

