<% include ./partials/publicheader %>

<div class="container">
	<div class="textcontainer"> 
		<h3> Terms of Use </h3>
		<p> Last Updated: <strong> 04/10/2018 </strong></p>
		<br> 
		<h5> Introduction </h5>
		<p> Thank you for using Repetitio! Repetitio offers its Services free of charge at <a href="https://www.repetitio.co">https://www.repetitio.co </a> (“Website”). In accessing our Services you confirm that you have read and acknowledged these Terms of Use (“Terms”) and Repetitio’s Privacy Policy. These Terms are subject to change on occasion, any and all changes will be published on this page, with the date of these amendments located at the top of the page. Your continued use of our Services after any amendments constitutes your acceptance of any such amendments. If you do not agree to comply with these Terms, please do not register to use, access or continue to use our Services. </p>
		<p> By using our Services, you confirm that (i) you are at least 13 years old; and (ii) your use of the Services will not violate any applicable law or regulation in the province state, territory or country in which you reside. </p>
		<br> 
		<h5> Registration for Services </h5>
		<p> You must register for an account by providing a username, a valid email address and any other information we may require from time to time (“Account”). You are responsible for maintaining the confidentiality of your Account details and you are fully responsible for all activities that occur under your Account. Your Account must be used only by you and must not be shared with, or transferred to any other individual. You must immediately notify us via our <a href="/contact"> Contact </a> page of any suspected or actual, unauthorized or fraudulent use of your Account or any other breach of security. We reserve the right to delete or suspend your Account if we suspect that it does not comply with our Terms. </p>
		<br> 
		<h5> Privacy Policy </h5>
		<p> We take your privacy very seriously. Any personal information you submit to us when setting up an Account shall be subject to our Privacy Policy located at https://www.repetitio.co/privacy/ which are incorporated into these Terms. You understand that through your use of the Services, you consent to the collection and use  of this information. You further understand, acknowledge and agree that any personal information you provide on your Profile is in the public domain and is provided at your sole liability. </p>
		<br> 
		<h5> Our Content </h5>
		<p> All of the content available through the Services are owned by us. You acknowledge and accept that you are expressly prohibited from using Our Content except where we grant you a limited license to use Our Content in connection with the Services. </p>
		<br> 
		<h5> Your Licence </h5>
		<p> Subject to your compliance with these Terms, we grant you a limited, personal, non-transferable, non-sublicensable, worldwide and non-exclusive licence to use Our Content for the exclusive purpose of using the Services for your own personal, non-commercial use(“Licence”). Your Licence to use Our Content is restricted to use of the object code of the Software, and it is a condition of the Licence that, except where permitted under applicable law, you do not (and do not allow any third party to) copy, modify, create a derivative work from, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, rent, lease, loan, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree not to access the Website by any means other than through the interfaces that are provided by us for use in accessing the Service. </p>
		<br> 
		<h5> Third-party Contect and Links to Third-party Websites </h5>
		<p> The Services may contain third-party owned content and links to other websites, we do not endorse, sponsor, recommend, or otherwise accept responsibility for any Third Party Websites. In addition, Third Party Websites are not under our control and we are not responsible for the content or privacy practices of the Third Party Websites, including, without limitation, links contained on Third Party Websites or any changes or updates to Third Party Websites. We may provide third party content and Third Party Websites to you only as a convenience, and the inclusion of such third party content and Third Party Websites is not an endorsement by us in favour of any third party. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, goods or services available on or through Third Party Websites. We have no responsibility for the content on Third Party Websites that you may find or access when using our Services. Content available on or through Third Party Websites may be protected by copyright and the intellectual property laws of any country.
		</p>
		<br> 
		<h5> User Conduct </h5>
		<p> You are entirely responsible for your actions on the Repetitio website. You represent and warrant that you shall not: 
		</p>
		<ul> 
			<li>Breach, violate or infringe in any way upon the intellectual property rights of any third party;</li>
			<li>Cause harm to minors in any way;
 </li>
			<li> Intimidate, stalk, mock, lambast, scare, pervert, or otherwise harass another individual;
</li>
			<li> Be used to intentionally or unintentionally contravene or in any way not comply with regional, national and international law;
</li>
			<li> Be used to forge headers or otherwise manipulate any content transmitted through the Service in order to disguise its origin;
</li>
			<li> Overburden, damage or impair the operation of the Website and the Services;
</li>
			<li> Be used as a forwarding service to another website;
</li>
			<li> Harvest or collect email addresses or other personal information from other users for any purpose whatsoever, including but not limited to sending unsolicited emails or messages;
</li>
			<li> Register for more than a small number of Accounts;
</li>
			<li>Register for an Account for anyone other than yourself; or
 </li>
			<li> Register for an account for which you falsely state personal information
</li>
			</ul>
		<p> You must not misuse our Services by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our Services, the server(s) on which our Services are stored or any server, computer or database connected to our Services. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Services will cease immediately.</p>
		</br> 
		<h5> Deleting your Account </h5>
		<p> You can delete your account and terminate your use of the Services at any time by locating the ‘delete account’ option in the settings section of your Account.  Once you have deleted your Account, your Licence will be revoked. </p>
		<br> 
		<h5> Termination of your Account by Us </h5>
		<p> We reserve the right to modify, temporarily suspend or permanently delete your Account and terminate your access to the Services if we have reason to believe that you have breached or acted inconsistently with the Terms. Following termination, your Licence will be automatically revoked and we reserve the right to delete your Account, erase all or any information on your Profile and discard any of your User Content. You agree that we shall not be liable to you for any modification or discontinuance of the Service.
		</p>
		<br> 
		<h5> No Representations or Warranties </h5>
		<p> We do not guarantee that our Services, or any content therein, will always be available, uninterrupted and free from bugs or viruses and you should use your own anti-virus software. You are responsible for configuring your information technology, computer and mobile phone programmes and platform to access any of our Services. We may suspend or withdraw or restrict the availability of all or any part of our Services for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal, but this may not be possible.</p>
		<p> You understand and agree that the Services are provided “as is” and that you use the Services at your own risk. To the fullest extent permitted by applicable law, we expressly disclaim all warranties of any kind, whether express or implied, including but not limited to any implied warranties of fitness of the Services for a particular purpose. We do not make any representation or warranty of any kind and do not assume any responsibility for any improvement of your language learning or your learning of any other subject by use of our Services. Access to the Services may be slow, limited or unavailable during periods of peak demand, system upgrades, malfunctions or scheduled or unscheduled maintenance, or for any other reason beyond our reasonable control.</p>
		<p> Our Content and User Content available by use of our Services is provided for general information only. It is not intended to amount to advice on which you should rely. Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up to date.</p>
		<br> 
		<h5> Limitation of Liability </h5>
		<p> You acknowledge and warrant that we are not and shall not be liable to you for any damages, including but not limited to loss of profit, inaccurate results, loss or corruption of Your Content or any data, data being inaccurate, the cost of recovering any data or Your Content, inability to access the Services, the cost of substitute services, claims by third parties for any damage to computers, software, modems, telephones or any other property, indirect, incidental, special, consequential or exemplary damages, even where we have been advised of the possibility of such damages. We only provide our site for consumer private use. You agree not to use our site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
		</p>
		<br> 
		<h5> General Information </h5>
		<p> These Terms and the relationship between us and you are governed by the laws of England and Wales without regard to any conflict of law provisions of any jurisdiction. You agree to submit to the exclusive jurisdiction of the English and Welsh courts, except that we may seek injunctive relief in any jurisdiction in order to enforce our rights under these Terms.</p>
		<p> Under these Terms no person other than us and you shall have any rights in relation to your access and/or use of the Services, provided that our third party licensors may take action against you to enforce any infringement of their intellectual property rights or other rights. </p>
		<p> If we fail to exercise or enforce any rights or provision of the Terms, this shall not constitute a waiver of such rights or provisions. If any provision of the Terms are found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavour to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect.</p>
		<p> You agree that these Terms represent the entire understanding between us and you and these Terms supersede any previous agreements, promises, assurances, warranties, representations and understandings, whether written or oral, between us and you.</p>
		<br> 
		<h5> Questions </h5>
		<p> Please contact us with any question you might have about these Terms via our Contact page using the subject “Questions about Terms”. Please also report any suspected or known violations of these Terms via our Contact page using the subject “Violations of Terms”. If you wish to notify us about any suspected copyright infringement of any third party, please send a message via our Contact page using the subject “Copyright notification”.</p>


	</div>
</div>






<% include ./partials/publicfooter %>